* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray-100: #F8F8F8;
  --gray-200: #D7D7D7;
  --gray-300: #BBBBBB;
  --gray-900: #1A1D23;
  --pink-500: #FF57B2;
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; // assume a cor do elemento pai.
  text-decoration: none;
}
